.Hero
  max-width: 860px
  margin: 0 auto
  font-weight: 400
  height: calc(100vh - 60*2px)
  align-content: center
  align-self: center
  flex-shrink: 0

.Title
  background-image: $gradient
  background-clip: text
  -webkit-text-fill-color: transparent
  font-size: 54px
  font-weight: 400

.Subtitle
  color: #808080
  font-size: 20px
  font-weight: 400
