.Header
  margin: 0 auto
  background: #fff
.Nav
  display: flex
  flex-flow: row
  justify-content: space-between
  height: 60px
.Title
  text-decoration: underline
  font-weight: 800
  padding: 0 1em
  align-self: center
  user-select: none
  color: #000
.List
  list-style-type: none
  display: flex
  align-items: center
  gap: 1em
.ListItem
  font-size: 14px
  color: rgb(26,27,31)
  opacity: 0.6
  letter-spacing: 0.1em
  font-weight: 500
  text-wrap: nowrap
  padding: 1.4em
  user-select: none
  transition: all 200ms ease-in-out
  &:hover
    opacity: .8
